
  
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }


  /* .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  } */
  .swiper-slide iframe {
    display: block;
    width: 100%;
  }


  /* form style */

        form {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select,
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 14px;
            /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */

        }

        input:focus { 
          outline:none;
          border-color:rgba(231, 221, 221, 0.35);
          box-shadow:0 0 10px rgba(0, 0, 0, 0.35);
      }
        textarea {
            height: 100px;
        }
        button[type="submit"] {
            background-color: #b0141a;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        button[type="submit"]:hover {
            background-color: #e7090a;
        }
        .form-check input[type="checkbox"] {
            margin-right: 5px;
        }
        .form-check label {
            display: inline;
            font-weight: normal;
        } 