.banner-desk {
    display: block !important;
}

.banner-mob {
    display: none !important;
}

body {
    /* font-family: 'Montserrat'; */

    font-family: 'Montserrat', sans-serif;
}

.Privacy_Policy a {
    color: #000;
    text-decoration: underline;
}

.hamburger-custom-style {
    justify-content: center;
}

.navigation-bar {
    background-image: url(images/navimage/Menu-header.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footerimg {
    background-image: url(images/navimage/button-bg-2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25px;
    text-align: right;
    color: #fff;
    padding: 5px;
    /* border-top-right-radius: 30px;
    border-top-left-radius: 30px; */
}

.owl-carousel .owl-nav button.owl-next {
    margin-left: -40px;
    font-size: 66px !important;
    border: none;
    background-color: unset;
    position: absolute;
    color: #e51d25;
}

.owl-carousel .owl-nav button.owl-prev {
    margin-right: 1150px;
    font-size: 66px !important;
    border: none;
    background-color: unset;
    position: revert-layer;
    color: #e51d25;
}

.gallery .owl-carousel .owl-nav {
    margin-top: -233px;
    z-index: 99;
    position: relative;
}

.s1 {
    text-align: center;
}

.s2,
.s3 {
    text-align: right;
    margin: auto;
    font-size: 16px;
    font-weight: 700;
    color: #d9b17a;
}

.carousel-item img {
    width: 100%;
}

/* My css */
.readmore {
    color: red;
    font-size: 10px;
    padding: 3px;
    margin: 35px 0 17px;
    font-weight: 700;
    text-decoration: underline;
}

.readmore:hover {
    color: #fff;
    background-image: url(images/navimage/button-bg-2.webp);
}

.productcard {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform .9s;

    /* padding: 25px; */
}

.productcard:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    padding: 10px;
}

.appcard {
    /* box-shadow: rgb(22 4 2) 23px 2px 90px 20px; */
    transition: transform .9s;
    width: 85%;
}


.appcard:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    /* padding: 10px; */
}

.card-title {
    margin: 15px 0px;
    height: 45px;
    font-weight: 700;
}

.productcard-item .card-text {
    padding: 20px;
    height: 145px;
}

.productcard-item {
    margin: 40px 18px;
    border-radius: 20px;
}

.card-text-CTA {
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}

.cta-container {
    margin: 20px 0px;
    text-align: center;
    padding: 50px 0;
    background-image: url(images/Mask-Group-2-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-text:last-child {
    height: 160px;
    padding: 0px 34px;
    /* text-align: left; */
}

.cust-h4 span {
    font-weight: 600;
}

.gallery {
    margin-bottom: 110px !important;
}

.OurProducts h4 {
    /* text-align: left; */
    margin: 30px 0 40px;
}

.two-products {
    justify-content: center;
    margin-top: 15px;
}

.why-us-icon-bg {
    border-radius: 50%;
    transition: transform .9s;
    padding: 10px 0px;
}

.why-us-icon-bg:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.why-us {
    position: relative;
}

/* .container-custom-1 {
    height: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
} */

/* .image5x5 {
    height: 300px;
    width: 300px;
    position: relative;
    left: 180px;
    top: 10px;
} */

/* .image3x3 {
    height: 300px;
    width: 300px;
    position: absolute;
    left: -225px;
    top: 115px;
    background-image: url(images/3x3.png);
} */

/* .image5x5 img:hover,
.image3x3:hover {
    transform: scale(1.1);
    transition: transform .9s;
} */

.why-us div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.why-us p {
    margin: 15px;
}

.bg-why-us {
    background-color: #dad9d9 !important
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 60px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.inquire-now {
    border: 1px solid #fff;
    border-radius: 6px;
    background-color: #d2ad77;
    color: #fff;
    font-weight: 600;
    padding: 7px 14px;
    /* width: 60%; */
    margin: 20px auto;
    transition: transform .9s;
}

.inquire-now a {
    color: #fff;
}

.footer-cont {
    margin-top: 125px;
}

.footer_bg {
    background: url(images/footer_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* padding: 100px 0 223px; */
    position: relative;
    z-index: 1;
}


.footer_bg:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0B2653 0%, #dc3545 100%);
    opacity: .9;
}

.footer-contact-details {
    color: #fff;
    text-decoration: underline;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.cta-image {
    border-top-left-radius: 21px;
    border-bottom-right-radius: 21px;
}

.inquire-now:hover {
    color: #fff;
    background-image: url(images/navimage/button-bg-2.webp);
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(239, 214, 191),
        0 0 30px 15px rgba(241, 206, 186, 0.5);
}


.enq-form {
    margin: 15px 0;
}

.contact-us {
    z-index: 99;
    padding: 60px auto;
    position: relative;
    color: #fff;
}

.contact-us-one {
    padding: 31px;
    margin-top: 20px;
}

.contact-us-two {
    margin: 45px auto;
}

.contact-us-two form {
    height: 585px;
    overflow-y: auto;
}

.input_group_style_custom {
    height: 38px;
    border: none;
}


.contact-form-heading {
    margin-left: 25px !important;
}

.contact-us-two form::-webkit-scrollbar,
.features-text::-webkit-scrollbar {
    width: 5px;
    /* Adjust the width of the scrollbar */
    height: 20px;
}

.contact-us-two form::-webkit-scrollbar-track,
.features-text::-webkit-scrollbar {
    background: #f1f1f1;
    /* Change the background color of the scrollbar track */
}

.contact-us-two form::-webkit-scrollbar-thumb,
.features-text::-webkit-scrollbar {
    background: #888;
    /* Change the color of the scrollbar thumb */
}

.contact-us-two form::-webkit-scrollbar-thumb:hover,
.features-text::-webkit-scrollbar {
    background: #555;
    /* Change the color of the scrollbar thumb on hover */
}

.applications {
    margin-bottom: 38px;
    /* margin-top: 100px; */
}

.for-desktop {
    display: block;
}

.for-mobile {
    display: none;
}

.product-hero {
    position: relative;
}

.product-hero-text {
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
}

.features {
    text-align: center;
    padding: 80px 0;
    /* background-image: url(images/Mask-Group-2-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
}


.custom-container {
    background-image: url(images/Mask-Group-2-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.features-text .features-text-div {
    display: flex;
    text-align: left;
}

.features-text-div .image-div {
    display: flex;
    margin-top: 17px;
}

.text-div {
    margin: 12px;
}

.features-image-div {
    display: flex;
}

.features-image {
    margin: auto;
}

.image-gallery,
.table-data {
    margin: 50px 2px;
    text-align: center;
    padding: 25px;
}

.image-gallery-2 {
    margin: 430px 2px 40px;
    text-align: center;
    padding: 25px;
}

.table-data-sh {
    margin: 2px;
    text-align: center;
}

.image-gallery h1,
.table-data h1 {
    margin: 20px;
}

.image-gallery-2 h1,
.table-data h1 {
    margin: 20px;
}

.table-data-sh h1 {
    margin: 20px;
}


.features-text-div {
    display: inline-flex;
}

.feature-content {
    margin-left: 20px;
    width: 95%;
}

/* table */
.tab-heading {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.1em;
    background-color: #d2ad77;
    color: #000;
}

tr th,
tbody tr td {
    padding: 12px 5px;
    border: 2px solid white;
    border-radius: 10px;
}

.tab-data {
    font-size: 20px;
    font-weight: 400;
}

.even-col {
    text-align: center;
    padding: 8px;
    font-size: 15px;
    background: #EFEFEF;
    border: 1px solid rgba(222, 219, 219, 0.37);
}

.tablesaw {
    width: 90%;
    max-width: 100%;
    margin: auto;
    overflow-x: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* About us */

.about-us {
    text-align: center;
    margin: 50px auto;
}

.about-us h5 span {
    color: #e41e26;
    font-weight: 700;
}

.about-content h1 {
    font-size: 40px;
    line-height: 1.28em;
    color: #222222;
    font-weight: 600;
    padding-bottom: 18px;
}

.logo-icon {
    height: 20px;
    width: 20px;
    top: 20px
}

.call-email {
    margin: 0px 60px;
}

.OurProducts h2 {
    margin-bottom: 38px;
    margin-top: 20px;

}

.thank-you-btn {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 14px;
    background-color: #d6b079;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}


.features-text {
    overflow-y: scroll;
    height: 600px;
}

#style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
    border-radius: 10px;
}


.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}



/* .my-logo {
    height: auto;
    width: 144PX;
    position: relative; 
    margin: -20px 0;
    z-index: 1;
} */

.productcard {
    /* height: 450px; */
    width: 100%;
    padding: 10px;
}

.productcard-img {
    height: auto;
    width: 35% !important;
    margin: auto;
}

.why-us {
    flex: 0 0 22%;
    margin: 10px;
}

.link-style {
    text-decoration: none;
}

.container-custom {
    padding: 0 !important;
}

body {
    overflow-x: hidden !important;
}

.swiper-wrapper-custom {
    height: 150px;
}

.swiper-wrapper-custom .swiper-pagination {
    top: 113px;
}

.link-custom a {
    color: #fff;
}

/* .link-custom span {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 30%;
} */

.header-row {
    margin: auto;
    padding: 2px 0px 0px;
}

.link-custom:hover,
.link-custom a:hover {
    /* color: red; */
    /* font-size: 14px; */
    font-weight: 700;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
    transition: transform .9s;
}

.navbar-landing {
    background-image: url(images/navimage/Menu-header.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 65px;
    width: 100%;
}

.link-custom {
    float: right;
    width: 430px;
    text-align: right;
    color: white;
}

.nac-position {
    position: relative;
}

.custom-container-style {
    margin: auto;
    padding: 35px 0;
}


.icon-n {
    height: 27px;
    width: auto;
    margin: 15px 0;
    display: flex;
}

.scroll {
    overflow-y: scroll;
    height: 550px;
    margin: 20px auto;
}

.scroll-2 {
    overflow-y: scroll;
    height: 550px;
    margin: 20px auto;
}

.custom-container {
    padding: 0 25px !important;
}

.custom-container-banner {
    padding: 0 !important;
}


.product-hero-content {
    position: relative;
    top: 100px;
}

.product-hero-content .container {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    /* background-color: rgba(255, 255, 255, 0.8); */
    padding: 20px;
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    margin-top: -30%;
}


.banne-new {
    height: 95vh;
}


.typediv {
    justify-content: center;
}

.typediv .nav-link {
    color: black;
}

.typediv .nav-link {
    color: red;
    background-color: #f3d9b2;
    font-weight: 600;
}

.typediv .nav-link.active {
    background-color: #e41e26;
    color: white;
    font-weight: 800;
}

.card-typediv {
    border: none;
}


.h1-style {
    font-weight: revert;
    color: #c90404;
    letter-spacing: 2px;
    text-shadow: 0 -2px 1px rgb(201 4 4);
}

.swiper-pagination-bullet-active {
    /* opacity: var(--swiper-pagination-bullet-opacity, 1); */
    background: #dc3545 !important;
}

.swiper-pagination-bullet {
    background: #dc3545, #dc3545 !important;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #dc3545 !important;
}

/* NEW APPLICATION  */
.custom-container-banner .swiper-button-next,
.swiper-rtl .swiper-button-prev,
.swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 10px);
    left: auto;
    background-color: red !important;
    border-radius: 100%;

}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    background-color: red !important;
    border-radius: 100%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 15px !important;
    font-weight: 900;
    color: white;
}

/* RESPONSIVE */
@media screen and (min-width: 1200px) {
    .navbar-landing .navbar-nav .nav-link {
        padding: 0.5rem 2rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .product-hero img {
        position: relative;
        /* height: 100vh; */
    }

    .for-desktop {
        display: block;
    }

    .for-mobile {
        display: none;
    }

    .productcard:hover {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1);
    }


    .productcard img {
        border-radius: 10px 10px 0px 0;
    }

    /* .my-logo {
        height: auto;
        width: 32%;
        position: relative;
        float: left;
        top: 30px;
    } */

    .productcard {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: transform .9s;
        margin: 10px auto;
        /* border: 1px solid black; */
        border-radius: 10px;
    }

    .mobile-custom-space {
        margin: 25px 0;
    }

    .productcard-img {
        height: auto;
        width: 35% !important;
        /* text-align: center; */
        margin: auto;
    }

    .about-us {
        text-align: left;
        margin: 0px auto;
        padding: 25px;
    }



    .card-text-CTA {
        width: 100%;
        text-align: left;
        margin: 5px auto;
    }

    .inquire-now {
        padding: 7px;
    }

    .inquire-now a {
        color: #fff;
    }

    .call-email {
        margin: 15px -20px;
    }

    .why-us {
        position: relative;
        width: 200px;
    }

    .card-title {
        font-size: 25px;
        font-weight: 700;
    }

    .why-us {
        flex: 1 0 20%;
    }

    .custom-banner {
        height: 75vh;
    }

    .features-image {
        margin: auto;
        margin-left: 10px;
    }

    .product-hero-content .container {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .banne-new {
        height: 70vh !important;
    }
}

@media screen and (min-width: 768px) {
    /* .navbar-brand {
        margin-right: 0;
        padding: 0 3rem;
    } */

    .hero div {
        width: 50%;
    }

    .about-us {
        width: 85%;
    }

    .contact {
        max-width: 50%;
    }
}

/* Adjustments for mobile view */
@media (max-width: 767px) {
    .product-hero-content .container {
        position: relative;
        transform: none;
        margin-top: 20px;
        padding: 15px;
    }

    .hero-text h1 {
        font-size: 24px;
    }

    .hero-text h3 {
        font-size: 18px;
    }

    .hero-text p {
        font-size: 14px;
    }


}

/* responsive code  */

@media only screen and (min-width: 578px) and (max-width: 768px) {
    .card-title {
        font-size: 19px;
    }

    .productcard {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: transform .9s;
        margin: 10px auto;
        border: 1px solid black;
        border-radius: 10px;
    }

    .productcard-img {
        height: auto;
        width: 35% !important;
        /* text-align: center; */
        margin: auto;
    }

    .about-us {
        text-align: left;
        margin: 0px auto;
        padding: 25px;
    }

    .card-text-CTA {
        width: 100%;
        text-align: left;
        margin: 5px auto;
    }

    .inquire-now {
        padding: 7px;
    }

    .call-email {
        margin: 15px 60px;
    }

    .why-us {
        position: relative;
        width: 200px;
    }

    .card-title {

        font-size: 20px;
    }

    .why-us {
        flex: 1 0 20%;
    }

}

@media screen and (min-width: 360px) and (max-width: 577px) {
    .for-desktop {
        display: none;
    }

    .for-mobile {
        display: block;
    }

    .link-custom {
        width: auto;
        margin: auto;
    }

    .product-hero img {
        position: relative;
    }

    .productcard:hover {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1);
    }


    .productcard img {
        border-radius: 10px 10px 0px 0;
    }

    .productcard {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: transform .9s;
        margin: 10px auto;
        /* border: 1px solid black; */
        border-radius: 10px;
    }

    .mobile-custom-space {
        margin: 25px 0;
    }

    .productcard-img {
        height: auto;
        width: 35% !important;
        /* text-align: center; */
        margin: auto;
    }

    .about-us {
        text-align: left;
        margin: 0px auto;
        padding: 25px;
    }



    .card-text-CTA {
        width: 100%;
        text-align: left;
        margin: 5px auto;
    }

    .inquire-now {
        padding: 7px 14px;
    }

    .inquire-now a {
        font-size: 14px;
    }

    .call-email {
        margin: 15px 60px;
    }

    .why-us {
        position: relative;
        width: 200px;
    }

    .card-title {
        font-size: 25px;
        font-weight: 700;
    }

    .why-us {
        flex: 1 0 20%;
    }



    .custom-banner {
        height: 75vh;
    }

    .features-image {
        margin: auto;
        margin-left: 10px;
    }

    .product-hero-content .container {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .banne-new {
        height: 55vh !important;
    }

}

@media screen and (min-width: 360px) {
    .inquire-now a {
        font-size: 14px;
    }
}